@{
    ViewBag.Title = "Error";
}

@if (ViewData["Error"] != null)
{
    <h2>An error has occured. The following error has interrupted the execution of the application:</h2>
    <h3 style="color:red">@ViewData["Error"]</h3>
}
else
{
    <h2>An unexpected error has occured!</h2>
}
<p>@Html.ActionLink("Back to index", "Index", "VehicleMake", null, new { @class = "navbar-brand" })</p>

