@{
    ViewBag.Title = "_Error";
}

@if (TempData["Error"] != null)
{
    <h2>@TempData["Error"]</h2>
}
else
{
    <h2>An unexpected error has occured!</h2>
}
<p>@Html.ActionLink("Back to index", "Index", "VehicleMake", null, new { @class = "navbar-brand" })</p>

